@{
    ViewBag.Title = "Home Page";
}

<form method="post" action="Home/Login">
    <br />
    <label for="username">Username</label>
    <input type="text" name="username" />
    <br />

    <label for="password">Passwort:</label>
    <input type="password" name="password" />
    <br />

    <label for="eingeloggtbleiben">Eingeloggt Bleiben:</label>
    <input type="checkbox" name="eingeloggtbleiben" />
    <br />

    <input type="submit" />
</form>