
@{
    ViewBag.Title = "Feedback";
}


<div class="row">
    <form action="./Home/DoFeedback" method="post" class="well col-lg-8 col-lg-offset-2" style="margin-top:60px;">
        <label>Feedback</label>
        <textarea name="feedback" class="form-control"></textarea>

        <input type="submit" name="" value="Do Feedback" class="btn btn-primary" />
    </form>

</div>